In [1]:
# 1. For Abstract Base Classes (ABC and abstractmethod)
# The abc module provides tools for defining abstract base classes and enforcing method implementations in subclasses.
from abc import ABC, abstractmethod

# 2. For final method (to prevent method overriding)
# The final decorator from the typing module is used to mark methods or classes that cannot be overridden or subclassed.
from typing import final

# 3. Import List
from typing import List

# 4. Import date time
# Used for working with dates and times
from datetime import date

# 5. Import csv
# Used importing the data from csv files
import csv

#6 Import tabulate
# Used for pretty-printing tabular data in a human-readable format.
# formats your data into a table-like structure
from tabulate import tabulate

# 7. Import Pandas
import pandas as pd
# Used for data manipulation and analysis

In [2]:
# Read Excel File with pandas
!pip install pandas openpyxl

Requirement already satisfied: pandas in /usr/local/lib/python3.10/dist-packages (2.2.2)
Requirement already satisfied: openpyxl in /usr/local/lib/python3.10/dist-packages (3.1.5)
Requirement already satisfied: numpy>=1.22.4 in /usr/local/lib/python3.10/dist-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.10/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas) (2024.2)
Requirement already satisfied: tzdata>=2022.7 in /usr/local/lib/python3.10/dist-packages (from pandas) (2024.2)
Requirement already satisfied: et-xmlfile in /usr/local/lib/python3.10/dist-packages (from openpyxl) (2.0.0)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

# Define Inventory & Product Class -- Define Consumable & NonConsumable Subclass

In [3]:
# ----------------------------------------------------------
# Abstract Class Inventory: Contains inventory related details
# ----------------------------------------------------------
class Inventory(ABC):
    """
    Abstract class for Inventory which contains basic inventory-related details.
    This class holds the attributes: InvId, PQuantity, and PExpDate.
    The getters for InvId, PQuantity, and PExpDate are protected,
    and setters are private to ensure encapsulation.
    """

    # Private attributes for inventory details
    __inv_id: int
    __p_quantity: int
    __p_exp_date: date

    def __init__(self, inv_id: int, p_quantity: int, p_exp_date: date):
        """
        Initializes the Inventory instance with inventory details.

        :param inv_id: Inventory ID (int)
        :param p_quantity: Product Quantity (int)
        :param p_exp_date: Product Expiry Date (date)
        """
        self.__inv_id = inv_id
        self.__p_quantity = p_quantity
        self.__p_exp_date = p_exp_date

    # Setters for private attributes
    def __set_inv_id(self, inv_id: int) -> None:
        """
        Private setter method for Inventory ID.
        """
        self.__inv_id = inv_id

    def __set_p_quantity(self, p_quantity: int) -> None:
        """
        Private setter method for Product Quantity.
        """
        self.__p_quantity = p_quantity

    def __set_p_exp_date(self, p_exp_date: date) -> None:
        """
        Private setter method for Product Expiry Date.
        """
        self.__p_exp_date = p_exp_date

    # Getter for Inventory ID (public)
    def get_inv_id(self) -> int:
        """
        Getter for Inventory ID.

        :return: Inventory ID (int)
        """
        return self.__inv_id

    # Protected Getter for Product Quantity (protected)
    def _get_p_quantity(self) -> int:
        """
        Protected getter for Product Quantity.

        :return: Product Quantity (int)
        """
        return self.__p_quantity

    # Protected Getter for Product Expiry Date (protected)
    def _get_p_exp_date(self) -> date:
        """
        Protected getter for Product Expiry Date.

        :return: Product Expiry Date (date)
        """
        return self.__p_exp_date


# ----------------------------------------------------------
# Abstract Class Product: Base class for all products
# ----------------------------------------------------------
class Product(Inventory):
    """
    Abstract class representing a Product. It inherits from the Inventory class.
    This class adds product-specific attributes and implements getters and setters.
    """

    # Private attributes for product details
    __pid: int
    __pname: str
    __pprice: int
    __pingredients: List[str]
    __prating: float
    __preview: List[str]
    __pcost: int

    def __init__(self,
                 pid: int,
                 pname: str,
                 pprice: int,
                 pingredients: List[str],
                 prating: float,
                 preview: List[str],
                 pcost: int,
                 inv_id: int,
                 p_quantity: int,
                 p_exp_date: date):
        """
        Initializes the Product instance by calling the constructor of Inventory
        and setting product-specific details.

        :param pid: Product ID (int)
        :param pname: Product Name (str)
        :param pprice: Product Price (int)
        :param pingredients: List of Product Ingredients (List[str])
        :param prating: Product Rating (float)
        :param preview: List of Product Reviews (List[str])
        :param pcost: Product Cost (int)
        :param inv_id: Inventory ID (int)
        :param p_quantity: Product Quantity (int)
        :param p_exp_date: Product Expiry Date (date)
        """
        super().__init__(inv_id, p_quantity, p_exp_date)  # Initialize Inventory attributes
        self.__pid = pid
        self.__pname = pname
        self.__pprice = pprice
        self.__pingredients = pingredients
        self.__prating = prating
        self.__preview = preview
        self.__pcost = pcost

    # Setters for product attributes (protected)
    def _set_pid(self, pid: int) -> None:
        """
        Protected setter for Product ID.
        """
        self.__pid = pid

    def _set_pname(self, pname: str) -> None:
        """
        Protected setter for Product Name.
        """
        self.__pname = pname

    def _set_pprice(self, pprice: int) -> None:
        """
        Protected setter for Product Price.
        """
        self.__pprice = pprice

    def _set_pingredients(self, pingredients: List[str]) -> None:
        """
        Protected setter for Product Ingredients.
        """
        self.__pingredients = pingredients

    def _set_prating(self, prating: float) -> None:
        """
        Protected setter for Product Rating.
        """
        self.__prating = prating

    def _set_preview(self, preview: List[str]) -> None:
        """
        Protected setter for Product Reviews.
        """
        self.__preview = preview

    def _set_pcost(self, pcost: int) -> None:
        """
        Protected setter for Product Cost.
        """
        self.__pcost = pcost

    # Getters for product attributes (public)
    def get_pid(self) -> int:
        """
        Getter for Product ID.
        """
        return self.__pid

    def get_pname(self) -> str:
        """
        Getter for Product Name.
        """
        return self.__pname

    def get_pprice(self) -> int:
        """
        Getter for Product Price.
        """
        return self.__pprice

    def get_pingredients(self) -> List[str]:
        """
        Getter for Product Ingredients.
        """
        return self.__pingredients

    def get_prating(self) -> float:
        """
        Getter for Product Rating.
        """
        return self.__prating

    def get_preview(self) -> List[str]:
        """
        Getter for Product Reviews.
        """
        return self.__preview

    def get_pcost(self) -> int:
        """
        Getter for Product Cost.
        """
        return self.__pcost


# ----------------------------------------------------------
# Final Class Consumable: Inherits from Product for consumable items
# ----------------------------------------------------------
@final
class Consumable(Product):
    """
    Final class that represents consumable products. It inherits from the Product class.
    It contains details specific to consumable items such as CCategory.
    """

    # Private attribute for consumable category
    __ccategory: str

    def __init__(self,
                 pid: int,
                 pname: str,
                 pprice: int,
                 pquantity: int,
                 pingredients: List[str],
                 pexpdate: date,
                 prating: float,
                 preview: List[str],
                 pcost: int,
                 ccategory: str,
                 inv_id: int,
                 p_quantity: int,
                 p_exp_date: date):
        """
        Initializes the Consumable instance with both product and category details.
        Calls the constructor of Product to initialize product-specific attributes.

        :param ccategory: Consumable Category (str)
        """
        super().__init__(pid, pname, pprice, pingredients, prating, preview, pcost, pid, pquantity, pexpdate)
        self.__ccategory = ccategory  # Consumable specific attribute

    # Setters for product attributes (protected)
    def __set_pid(self, pid: int) -> None:
        """
        Private setter for Product ID.
        """
        self.__pid = pid

    def __set_pname(self, pname: str) -> None:
        """
        Private setter for Product Name.
        """
        self.__pname = pname

    def __set_pprice(self, pprice: int) -> None:
        """
        Private setter for Product Price.
        """
        self.__pprice = pprice

    def __set_pingredients(self, pingredients: List[str]) -> None:
        """
        Private setter for Product Ingredients.
        """
        self.__pingredients = pingredients

    def __set_prating(self, prating: float) -> None:
        """
        Private setter for Product Rating.
        """
        self.__prating = prating

    def __set_preview(self, preview: List[str]) -> None:
        """
        Private setter for Product Reviews.
        """
        self.__preview = preview

    def __set_pcost(self, pcost: int) -> None:
        """
        Private setter for Product Cost.
        """
        self.__pcost = pcost

    def __set_ccategory(self, ccategory: str) -> None:
        """
        Private setter for Consumable Category.
        """
        self.__ccategory = ccategory

    # Getter for Consumable Category (public)
    def get_ccategory(self) -> str:
        """
        Getter for Consumable Category.
        """
        return self.__ccategory

    def get_product_details(self) -> str:
        """
        Returns the details of the consumable product including its category.
        """
        return f"Consumable Product Name: {self.get_pname()}, Category: {self.get_ccategory()}"


# ----------------------------------------------------------
# Final Class NonConsumable: Inherits from Product for non-consumable items
# ----------------------------------------------------------
@final
class NonConsumable(Product):
    """
    Final class that represents non-consumable products. It inherits from the Product class.
    It contains details specific to non-consumable items such as NCCategory.
    """

    # Private attribute for non-consumable category
    __nccategory: str

    def __init__(self,
                 pid: int,
                 pname: str,
                 pprice: int,
                 pquantity: int,
                 pingredients: List[str],
                 pexpdate: date,
                 prating: float,
                 preview: List[str],
                 pcost: int,
                 nccategory: str,
                 inv_id: int,
                 p_quantity: int,
                 p_exp_date: date):
        """
        Initializes the NonConsumable instance with both product and category details.
        Calls the constructor of Product to initialize product-specific attributes.

        :param nccategory: Non-consumable Category (str)
        """
        super().__init__(pid, pname, pprice, pingredients, prating, preview, pcost, pid, pquantity, pexpdate)
        self.__nccategory = nccategory  # Non-consumable specific attribute

    # Private setter for Product ID
    def __SetPid(self, pid: int) -> None:
        """
        Private setter for Product ID.
        """
        self.__set_pid(pid)

    # Private setter for Product Name
    def __SetPName(self, pname: str) -> None:
        """
        Private setter for Product Name.
        """
        self.__set_pname(pname)

    # Private setter for Product Price
    def __SetPPrice(self, pprice: int) -> None:
        """
        Private setter for Product Price.
        """
        self.__set_pprice(pprice)

    # Private setter for Product Ingredients
    def __SetPIngredients(self, pingredients: List[str]) -> None:
        """
        Private setter for Product Ingredients.
        """
        self.__set_pingredients(pingredients)

    # Private setter for Product Rating
    def __SetPRating(self, prating: float) -> None:
        """
        Private setter for Product Rating.
        """
        self.__set_prating(prating)

    # Private setter for Product Review
    def __SetPReview(self, preview: List[str]) -> None:
        """
        Private setter for Product Review.
        """
        self.__set_preview(preview)

    # Private setter for Non-consumable Category
    def __SetNCCategory(self, nccategory: str) -> None:
        """
        Private setter for Non-consumable Category.
        """
        self.__nccategory = nccategory

    # Private setter for Product Cost
    def __SetPCost(self, pcost: int) -> None:
        """
        Private setter for Product Cost.
        """
        self.__set_pcost(pcost)

    # Public getter for Non-consumable Category
    def GetNCCategory(self) -> str:
        """
        Getter for Non-consumable Category.
        """
        return self.__nccategory

    # Public method to get product details
    def GetProductDetails(self) -> str:
        """
        Returns the details of the non-consumable product including its category.
        """
        return f"Non-Consumable Product Name: {self.get_pname()}, Category: {self.GetNCCategory()}"

# Define Employee Class

In [13]:
from abc import ABC

class Employee(ABC):
    """
    Abstract class representing an Employee. It defines the common attributes
    and methods that any specific employee class must implement.
    """

    def __init__(self,
                 EmpId: int,
                 EmpName: str,
                 Position: str,
                 Performance: str):  # Added Performance attribute with default value
        """
        Initializes the Employee instance with the given details.

        :param EmpId: Employee ID (int)
        :param EmpName: Employee name (str)
        :param Position: Employee's position (str)
        :param Performance: Employee's performance (str), optional parameter with default empty string
        """
        self.__EmpId = EmpId
        self.__EmpName = EmpName
        self.__Position = Position
        self.__Performance = Performance  # Initialize the Performance attribute

    # Setter for Employee ID (protected)
    def _SetEmpId(self, EmpId: int) -> None:
        """
        Sets the employee ID (protected).

        :param EmpId: Employee ID (int)
        """
        self.__EmpId = EmpId

    # Setter for Employee Name (protected)
    def _SetEmpName(self, EmpName: str) -> None:
        """
        Sets the employee name (protected).

        :param EmpName: Employee Name (str)
        """
        self.__EmpName = EmpName

    # Setter for Position (protected)
    def _SetPosition(self, Position: str) -> None:
        """
        Sets the employee position (protected).

        :param Position: Employee Position (str)
        """
        self.__Position = Position

    # Setter for Performance (protected)
    def _SetPerformance(self, Performance: str) -> None:
        """
        Sets the employee performance (protected).

        :param Performance: Employee performance (str)
        """
        self.__Performance = Performance

    # Getter for Employee ID (public)
    def GetEmpId(self) -> int:
        """
        Gets the employee ID.

        :return: Employee ID (int)
        """
        return self.__EmpId

    # Getter for Employee Name (public)
    def GetEmpName(self) -> str:
        """
        Gets the employee name.

        :return: Employee Name (str)
        """
        return self.__EmpName

    # Getter for Position (public)
    def GetPosition(self) -> str:
        """
        Gets the employee position.

        :return: Employee Position (str)
        """
        return self.__Position

    # Getter for Performance (public)
    def GetPerformance(self) -> str:
        """
        Gets the employee performance.

        :return: Employee Performance (str)
        """
        return self.__Performance

Abstract Class ProductionStaff (Inherit from Employee Class)

In [5]:
class ProductionStaff(Employee):
    """
    Abstract class representing Production Staff. It inherits from the Employee class.
    This class defines attributes and methods specific to production staff.
    """

    def __init__(self,
                 PSId: int,
                 PSName: str,
                 PSupervisorId: int,
                 EmpId: int,
                 EmpName: str,
                 Position: str):
        """
        Initializes the ProductionStaff instance with the given details.
        Inherits the constructor from Employee and adds production staff-specific attributes.

        :param PSId: Production Staff ID (int)
        :param PSName: Production Staff Name (str)
        :param PSupervisorId: Production Supervisor ID (int)
        :param EmpId: Employee ID (int) from Employee class
        :param EmpName: Employee Name (str) from Employee class
        :param Position: Position (str) from Employee class
        """
        super().__init__(EmpId, EmpName, Position)  # Initialize Employee class
        self.__PSId = PSId  # Private attribute
        self.__PSName = PSName  # Private attribute
        self.__PSupervisorId = PSupervisorId  # Private attribute

    # Setter for Production Staff ID (protected)
    def _SetPSId(self, PSId: int) -> None:
        """
        Sets the production staff ID (protected).

        :param PSId: Production Staff ID (int)
        """
        self.__PSId = PSId

    # Setter for Production Staff Name (protected)
    def _SetPSName(self, PSName: str) -> None:
        """
        Sets the production staff name (protected).

        :param PSName: Production Staff Name (str)
        """
        self.__PSName = PSName

    # Setter for Supervisor ID (protected)
    def __SetPSupervisorId(self, PSupervisorId: int) -> None:
        """
        Sets the production staff supervisor ID (protected).

        :param PSupervisorId: Supervisor ID (int)
        """
        self.__PSupervisorId = PSupervisorId

    # Getter for Production Staff ID (public)
    def GetPSId(self) -> int:
        """
        Gets the production staff ID.

        :return: Production Staff ID (int)
        """
        return self.__PSId

    # Getter for Production Staff Name (public)
    def GetPSName(self) -> str:
        """
        Gets the production staff name.

        :return: Production Staff Name (str)
        """
        return self.__PSName

    # Getter for Supervisor ID (public)
    def GetPSupervisorId(self) -> int:
        """
        Gets the supervisor ID.

        :return: Supervisor ID (int)
        """
        return self.__PSupervisorId

 Final Class ProductionManager (Inherit from Production Staff Class)

In [6]:
# Final class ProductionManager inherits from ProductionStaff
class ProductionManager(ProductionStaff):
    """
    Final class representing a Production Manager. It inherits from the ProductionStaff class.
    The Production Manager has additional attributes like Efficiency Rate.
    """

    def __init__(self,
                 PMId: int,
                 PMName: str,
                 PEfficiencyRate: float,
                 PSId: int,
                 PSName: str,
                 PSupervisorId: int,
                 EmpId: int,
                 EmpName: str,
                 Position: str):
        """
        Initializes the ProductionManager instance with all relevant details.
        Calls the constructor of ProductionStaff and adds manager-specific attributes.

        :param PMId: Production Manager ID (int)
        :param PMName: Production Manager Name (str)
        :param PEfficiencyRate: Efficiency Rate (float)
        :param PSId: Production Staff ID (int) inherited from ProductionStaff
        :param PSName: Production Staff Name (str) inherited from ProductionStaff
        :param PSupervisorId: Production Staff Supervisor ID (int) inherited from ProductionStaff
        :param EmpId: Employee ID (int) inherited from Employee
        :param EmpName: Employee Name (str) inherited from Employee
        :param Position: Position (str) inherited from Employee
        """
        super().__init__(PSId, PSName, PSupervisorId, EmpId, EmpName, Position)  # Initialize ProductionStaff
        self.__PMId = PMId  # Private attribute
        self.__PMName = PMName  # Private attribute
        self.__PEfficiencyRate = PEfficiencyRate  # Private attribute

    # Setter for Production Manager ID (private)
    def __SetPMId(self, PMId: int) -> None:
        """
        Sets the production manager ID (private).

        :param PMId: Production Manager ID (int)
        """
        self.__PMId = PMId

    # Setter for Production Manager Name (private)
    def __SetPMName(self, PMName: str) -> None:
        """
        Sets the production manager name (private).

        :param PMName: Production Manager Name (str)
        """
        self.__PMName = PMName

    # Setter for Efficiency Rate (private)
    def __SetPEfficiencyRate(self, PEfficiencyRate: float) -> None:
        """
        Sets the production manager efficiency rate (private).

        :param PEfficiencyRate: Efficiency Rate (float)
        """
        self.__PEfficiencyRate = PEfficiencyRate

    # Getter for Production Manager ID (public)
    def GetPMId(self) -> int:
        """
        Gets the production manager ID.

        :return: Production Manager ID (int)
        """
        return self.__PMId

    # Getter for Production Manager Name (public)
    def GetPMName(self) -> str:
        """
        Gets the production manager name.

        :return: Production Manager Name (str)
        """
        return self.__PMName

    # Getter for Efficiency Rate (public)
    def GetPEfficiencyRate(self) -> float:
        """
        Gets the production manager efficiency rate.

        :return: Efficiency Rate (float)
        """
        return self.__PEfficiencyRate

Final Class RnD (Inherit from Employee)

In [7]:
# ----------------------------------------------------------
# Final Class RnD
# ----------------------------------------------------------
# This class represents the Research and Development department,
# which inherits from the Employee class. The class includes
# attributes such as the research ID, market trends, and innovation.
# Setters are private, while getters are public to allow access to the data.
# ----------------------------------------------------------

class RnD(Employee):
    """
    Final class representing the Research and Development (RnD) department,
    inheriting from Employee. This class holds attributes specific to RnD, such
    as research ID, market trends, and innovation.
    """

    def __init__(self,
                 RId: int,
                 MarketTrend: str,
                 Innovation: str,
                 EmpId: int,
                 EmpName: str,
                 Position: str):
        """
        Initializes the RnD instance with the given employee details and RnD-specific attributes.

        :param EmpId: Employee ID (int)
        :param EmpName: Employee Name (str)
        :param Position: Employee Position (str)
        :param RId: Research ID (int)
        :param MarketTrend: Market trend related to R&D (str)
        :param Innovation: Innovation related to R&D (str)
        """
        # Initialize the Employee class with EmpId, EmpName, and Position
        super().__init__(EmpId, EmpName, Position)

        # Initialize RnD-specific attributes
        self.__RId = RId  # Private attribute for Research ID
        self.__MarketTrend = MarketTrend  # Private attribute for Market Trend
        self.__Innovation = Innovation  # Private attribute for Innovation

    # Setter for Research ID (private)
    def __SetRId(self, RId: int) -> None:
        """
        Sets the research ID (private).

        :param RId: Research ID (int)
        """
        self.__RId = RId

    # Setter for Market Trend (private)
    def __SetMarketTrend(self, MarketTrend: str) -> None:
        """
        Sets the market trend (private).

        :param MarketTrend: Market trend (str)
        """
        self.__MarketTrend = MarketTrend

    # Setter for Innovation (private)
    def __CreateInnovation(self, Innovation: str) -> None:
        """
        Sets the innovation (private).

        :param Innovation: Innovation (str)
        """
        self.__Innovation = Innovation

    # Getter for Research ID (public)
    def GetRId(self) -> int:
        """
        Gets the research ID.

        :return: Research ID (int)
        """
        return self.__RId

    # Getter for Market Trend (public)
    def GetMarketTrend(self) -> str:
        """
        Gets the market trend.

        :return: Market Trend (str)
        """
        return self.__MarketTrend

    # Getter for Innovation (public)
    def GetInnovation(self) -> str:
        """
        Gets the innovation data.

        :return: Innovation (str)
        """
        return self.__Innovation

# Define SalesStaff Class (Inherit from Employee)

In [8]:
# ----------------------------------------------------------
# Abstract Class SalesStaff
# ----------------------------------------------------------
# This class represents a Sales Staff member, which inherits from the Employee class.
# It includes attributes such as Sales Staff ID, Sales Staff Name, and Supervisor ID.
# Setters are protected, while getters are public to allow access to the data.
# ----------------------------------------------------------

class SalesStaff(Employee):
    """
    Abstract class representing a Sales Staff member, inheriting from Employee.
    This class holds specific attributes related to the Sales Staff, including
    Sales Staff ID, Sales Staff Name, and Supervisor ID.
    """

    def __init__(self,
                 SSId: int,
                 SSName: str,
                 SSupervisorId: int,
                 EmpId: int,
                 EmpName: str,
                 Position: str):
        """
        Initializes the SalesStaff instance with employee details and sales-specific attributes.

        :param EmpId: Employee ID (int)
        :param EmpName: Employee Name (str)
        :param Position: Employee Position (str)
        :param SSId: Sales Staff ID (int)
        :param SSName: Sales Staff Name (str)
        :param SSupervisorId: Sales Supervisor ID (int)
        """
        # Initialize the Employee class with EmpId, EmpName, and Position
        super().__init__(EmpId, EmpName, Position)

        # Initialize Sales Staff-specific attributes
        self.__SSId = SSId  # Private attribute for Sales Staff ID
        self.__SSName = SSName  # Private attribute for Sales Staff Name
        self.__SSupervisorId = SSupervisorId  # Private attribute for Sales Supervisor ID

    # Setter for Sales Staff ID (protected)
    def __SetSSId(self, SSId: int) -> None:
        """
        Sets the Sales Staff ID (protected).

        :param SSId: Sales Staff ID (int)
        """
        self.__SSId = SSId

    # Setter for Sales Staff Name (protected)
    def __SetSSName(self, SSName: str) -> None:
        """
        Sets the Sales Staff Name (protected).

        :param SSName: Sales Staff Name (str)
        """
        self.__SSName = SSName

    # Setter for Sales Supervisor ID (protected)
    def __SetSSupervisorId(self, SSupervisorId: int) -> None:
        """
        Sets the Sales Supervisor ID (protected).

        :param SSupervisorId: Sales Supervisor ID (int)
        """
        self.__SSupervisorId = SSupervisorId

    # Getter for Sales Staff ID (public)
    def GetSSId(self) -> int:
        """
        Gets the Sales Staff ID.

        :return: Sales Staff ID (int)
        """
        return self.__SSId

    # Getter for Sales Staff Name (public)
    def GetSSName(self) -> str:
        """
        Gets the Sales Staff Name.

        :return: Sales Staff Name (str)
        """
        return self.__SSName

    # Getter for Sales Supervisor ID (public)
    def GetSSupervisorId(self) -> int:
        """
        Gets the Sales Supervisor ID.

        :return: Sales Supervisor ID (int)
        """
        return self.__SSupervisorId

Final Class MarketingManager (Inherit from SalesStaff)

In [9]:
# ----------------------------------------------------------
# Final Class MarketingManager
# ----------------------------------------------------------
# This class represents a Marketing Manager, which is a type of Sales Staff.
# It inherits from the SalesStaff class and adds additional attributes
# specific to the Marketing Manager role, including Marketing Manager ID,
# Marketing Manager Name, and Sale Rate.
# Setters are protected, while getters are public to ensure proper access.
# ----------------------------------------------------------

@final
class MarketingManager(SalesStaff):
    """
    Final class representing a Marketing Manager, inheriting from SalesStaff.
    This class holds specific attributes for a Marketing Manager,
    including their ID, Name, and Sale Rate.
    """

    def __init__(self,
                 EmpId: int,
                 EmpName: str,
                 Position: str,
                 SSId: int,
                 SSName: str,
                 SSupervisorId: int,
                 MMId: int,
                 MMName: str,
                 SaleRate: float):
        """
        Initializes the MarketingManager instance with employee details, sales details,
        and specific marketing manager attributes.

        :param EmpId: Employee ID (int)
        :param EmpName: Employee Name (str)
        :param Position: Employee Position (str)
        :param SSId: Sales Staff ID (int)
        :param SSName: Sales Staff Name (str)
        :param SSupervisorId: Sales Supervisor ID (int)
        :param MMId: Marketing Manager ID (int)
        :param MMName: Marketing Manager Name (str)
        :param SaleRate: Marketing Manager Sale Rate (float)
        """
        # Initialize the SalesStaff class with EmpId, EmpName, Position, SSId, SSName, and SSupervisorId
        super().__init__(EmpId, EmpName, Position, SSId, SSName, SSupervisorId)

        # Initialize Marketing Manager-specific attributes
        self.__MMId = MMId  # Private attribute for Marketing Manager ID
        self.__MMName = MMName  # Private attribute for Marketing Manager Name
        self.__SaleRate = SaleRate  # Private attribute for Sale Rate

    # Setter for Marketing Manager ID (protected)
    def __SetMMId(self, MMId: int) -> None:
        """
        Sets the Marketing Manager ID (protected).

        :param MMId: Marketing Manager ID (int)
        """
        self.__MMId = MMId

    # Setter for Marketing Manager Name (protected)
    def __SetMMName(self, MMName: str) -> None:
        """
        Sets the Marketing Manager Name (protected).

        :param MMName: Marketing Manager Name (str)
        """
        self.__MMName = MMName

    # Setter for Sale Rate (protected)
    def __SetSaleRate(self, SaleRate: float) -> None:
        """
        Sets the Sale Rate for the Marketing Manager (protected).

        :param SaleRate: Sale Rate (float)
        """
        self.__SaleRate = SaleRate

    # Getter for Marketing Manager ID (public)
    def GetMMId(self) -> int:
        """
        Gets the Marketing Manager ID.

        :return: Marketing Manager ID (int)
        """
        return self.__MMId

    # Getter for Marketing Manager Name (public)
    def GetMMName(self) -> str:
        """
        Gets the Marketing Manager Name.

        :return: Marketing Manager Name (str)
        """
        return self.__MMName

    # Getter for Sale Rate (public)
    def GetSaleRate(self) -> float:
        """
        Gets the Sale Rate for the Marketing Manager.

        :return: Sale Rate (float)
        """
        return self.__SaleRate

Final Class PromotionStaff (Inherit from Employee)

In [10]:
# ----------------------------------------------------------
# Final Class PromotionStaff
# ----------------------------------------------------------
# This class represents a Promotion Staff, which is a type of Employee.
# It inherits from the Employee class and adds specific attributes
# related to promotion, such as Promotion Staff ID, Promotion Staff Name,
# and other promotion-specific details.
# Setters are protected, while getters are public to ensure proper access.
# ----------------------------------------------------------

@final
class PromotionStaff(Employee):
    """
    Final class representing a Promotion Staff, inheriting from Employee.
    This class holds specific attributes and methods related to Promotion Staff.
    """

    def __init__(self,
                 EmpId: int,
                 EmpName: str,
                 Position: str,
                 PrSId: int,
                 PrSName: str):
        """
        Initializes the PromotionStaff instance with employee details and
        promotion-specific attributes.

        :param EmpId: Employee ID (int)
        :param EmpName: Employee Name (str)
        :param Position: Employee Position (str)
        :param PrSId: Promotion Staff ID (int)
        :param PrSName: Promotion Staff Name (str)
        """
        # Initialize the Employee class with EmpId, EmpName, and Position
        super().__init__(EmpId, EmpName, Position)

        # Initialize Promotion Staff-specific attributes
        self.__PrSId = PrSId  # Private attribute for Promotion Staff ID
        self.__PrSName = PrSName  # Private attribute for Promotion Staff Name

    # Setter for Promotion Staff ID (protected)
    def __SetPrSId(self, PrSId: int) -> None:
        """
        Sets the Promotion Staff ID (protected).

        :param PrSId: Promotion Staff ID (int)
        """
        self.__PrSId = PrSId

    # Setter for Promotion Staff Name (protected)
    def __SetPrSName(self, PrSName: str) -> None:
        """
        Sets the Promotion Staff Name (protected).

        :param PrSName: Promotion Staff Name (str)
        """
        self.__PrSName = PrSName

    # Getter for SSOP (public)
    def __GetSSOP(self) -> str:
        """
        Gets the Standard Operating Procedure for the Promotion Staff.

        :return: SSOP (str)
        """
        return self.__SSOP

    # Getter for target (public)
    def __GetSTarget(self) -> int:
        """
        Gets the target for the Promotion Staff.

        :return: Target (int)
        """
        return self.__STarget

    # Getter for policies (public)
    def __GetSPolicies(self) -> list:
        """
        Gets the list of policies for the Promotion Staff.

        :return: List of policies (list)
        """
        return self.__SPolicies

    # Getter for Promotion Staff ID (public)
    def GetPrSId(self) -> int:
        """
        Gets the Promotion Staff ID.

        :return: Promotion Staff ID (int)
        """
        return self.__PrSId

    # Getter for Promotion Staff Name (public)
    def GetPrSName(self) -> str:
        """
        Gets the Promotion Staff Name.

        :return: Promotion Staff Name (str)
        """
        return self.__PrSName

# RELATIONSHIPS #

Abstract Class Employee (many-to-many) Abstract Class Inventory --
"Every employee can access the inventory"

In [12]:
# ----------------------------------------------------------
# Class EmployeeInventory: Represents many-to-many relationship ("Every employee can access the inventory")
# ----------------------------------------------------------

class EmployeeInventory:
    """
    The EmployeeInventory class manages the many-to-many relationship between Employees and Inventories.
    It holds a list of inventories that each employee can access and vice versa.
    """

    def __init__(self):
        """
        Initializes the EmployeeInventory, which keeps track of employee-inventory associations.
        """
        self.employee_inventory_map = {}

    def assign_inventory_to_employee(self, employee: 'Employee', inventory: 'Inventory') -> None:
        """
        Assigns an inventory to an employee, establishing a relationship between the employee and inventory.

        :param employee: An instance of Employee.
        :param inventory: An instance of Inventory.
        """
        if employee not in self.employee_inventory_map:
            self.employee_inventory_map[employee] = []
        self.employee_inventory_map[employee].append(inventory)

    def get_inventories_for_employee(self, employee: 'Employee') -> List['Inventory']:
        """
        Retrieves a list of inventories associated with an employee.

        :param employee: An instance of Employee.
        :return: List of inventories associated with the employee.
        """
        return self.employee_inventory_map.get(employee, [])

    def get_employees_for_inventory(self, inventory: 'Inventory') -> List['Employee']:
        """
        Retrieves a list of employees associated with a particular inventory.

        :param inventory: An instance of Inventory.
        :return: List of employees who can access this inventory.
        """
        employees = []
        for employee, inventories in self.employee_inventory_map.items():
            if inventory in inventories:
                employees.append(employee)
        return employees

# ----------------------------------------------------------
# Read Employee data from CSV
# ----------------------------------------------------------

def read_employees_from_csv(file_path: str) -> List['Employee']:
    employees = []
    with open(file_path, mode='r') as file:
        reader = csv.reader(file)
        header = next(reader)  # Skip header row
        print("Header columns:", header)  # Print header to check column names

        for row in reader:
            # Print row to check if it contains more than 3 values
            print("Row data:", row)

            # Assuming the first three columns are emp_id, name, and position
            if len(row) >= 4:  # Now we have 4 columns: emp_id, name, position, performance
                emp_id, name, position, performance = row[0], row[1], row[2], row[3]
                employees.append(Employee(int(emp_id), name, position))
            else:
                print("Skipping invalid row (not enough columns):", row)
    return employees

# ----------------------------------------------------------
# Read Inventory data from CSV
# ----------------------------------------------------------

def read_inventories_from_csv(file_path: str) -> List['Inventory']:
    inventories = []
    # Use pandas to read the CSV file with semicolon separator
    df = pd.read_csv(file_path, delimiter=';')

    # Check column names
    print(df.columns)

    # Clean column names (strip leading/trailing spaces)
    df.columns = df.columns.str.strip()

    # Check if columns 'InvId', 'PQuantity', and 'PExpDate' exist
    if 'InvId' not in df.columns or 'PQuantity' not in df.columns or 'PExpDate' not in df.columns:
        raise KeyError("One or more required columns ('InvId', 'PQuantity', 'PExpDate') are missing from the CSV file.")

    # Read rows and create inventory objects
    for _, row in df.iterrows():
        inv_id = row['InvId']
        quantity = row['PQuantity']
        exp_date_obj = pd.to_datetime(row['PExpDate'], format='%d/%m/%Y').date()  # Convert to date format
        inventories.append(Inventory(int(inv_id), int(quantity), exp_date_obj))
    return inventories

# ----------------------------------------------------------
# Example Usage: Read CSV and Assign Inventories to Employees
# ----------------------------------------------------------

# Assuming employee and inventory CSV files are available
employee_file_path = '/content/employees.csv'  # Replace with actual path
inventory_file_path = '/content/Inventory-csv.csv'  # Replace with actual path

# Read employees and inventories from CSV files
employees = read_employees_from_csv(employee_file_path)
inventories = read_inventories_from_csv(inventory_file_path)

# Create an instance of EmployeeInventory to manage relationships
employee_inventory = EmployeeInventory()

# Example: Assign inventories to employees (this can be done with custom logic)
for i, employee in enumerate(employees[:10]):  # Only first 10 employees
    employee_inventory.assign_inventory_to_employee(employee, inventories[i % len(inventories)])

# ----------------------------------------------------------
# Get inventories for the first 10 employees
# ----------------------------------------------------------

# Display inventories for the first 10 employees (limit to 10)
for i, employee in enumerate(employees[:10]):  # Only first 10 employees
    inventories_for_employee = employee_inventory.get_inventories_for_employee(employee)
    for inv in inventories_for_employee[:10]:  # Limit to first 10 inventories per employee
        print(f"Warehouse Inventory ID: {inv.get_inv_id()}, Quantity: {inv._get_p_quantity()}, Expiry Date: {inv._get_p_exp_date()} ACCESSIBLE BY {employee.GetEmpId()},{employee.GetEmpName()},{employee.GetPosition()}")

# ----------------------------------------------------------
# Get employees for the first 10 inventories
# ----------------------------------------------------------

# Display employees who can access the first 10 inventories (limit to 10 inventories)
for i, inventory in enumerate(inventories[:10]):  # Only first 10 inventories
    employees_for_inventory = employee_inventory.get_employees_for_inventory(inventory)
    for emp in employees_for_inventory[:10]:  # Limit to first 10 employees per inventory
        print(f"Warehouse Inventory ID: {inventory.get_inv_id()}, Quantity: {inventory._get_p_quantity()}, Expiry Date: {inventory._get_p_exp_date()} ACCESSIBLE BY {emp.GetEmpId()},{emp.GetEmpName()},{emp.GetPosition()}")

# ----------------------------------------------------------
# Loop through all employees and show the inventories they have access to (limit to first 10 employees)
# ----------------------------------------------------------

# Display employee and inventory relationships for the first 10 employees (limit to 10 employees)
for i, emp in enumerate(employees[:10]):  # Only first 10 employees
    inventories_for_employee = employee_inventory.get_inventories_for_employee(emp)
    for inv in inventories_for_employee[:10]:  # Limit to first 10 inventories for each employee
        print(f"{emp.GetEmpId()},{emp.GetEmpName()},{emp.GetPosition()} CAN ACCESS INVENTORY {inv.get_inv_id()}")

Streaming output truncated to the last 5000 lines.
Row data: ['1013077', 'Anna Morris', 'Sales Staff', 'Excellent']
Row data: ['1014354', 'Brandon Clark', 'Sales Staff', 'Excellent']
Row data: ['1017302', 'Mr. Adam Fitzgerald', 'Sales Staff', 'Poor']
Row data: ['1015506', 'Jennifer Flores', 'Sales Staff', 'Good']
Row data: ['1019615', 'Cathy Travis', 'Sales Staff', 'Poor']
Row data: ['1015674', 'Mark Riggs', 'Sales Staff', 'Excellent']
Row data: ['1011024', 'Theresa Mendoza', 'Sales Staff', 'Excellent']
Row data: ['1015664', 'Allison Mcneil', 'Sales Staff', 'Good']
Row data: ['1016043', 'Larry Barnes III', 'Sales Staff', 'Poor']
Row data: ['1014759', 'Roger Williams', 'Sales Staff', 'Excellent']
Row data: ['1016668', 'Steven Ritter', 'Sales Staff', 'Excellent']
Row data: ['1014364', 'Andrew Austin', 'Sales Staff', 'Excellent']
Row data: ['1015962', 'Beth Parker', 'Sales Staff', 'Excellent']
Row data: ['1019247', 'Misty Moses', 'Sales Staff', 'Good']
Row data: ['1014496', 'Robert Huang', 'Sales Staff', 'Good']
Row data: ['1019941', 'Leah Beard', 'Sales Staff', 'Good']
Row data: ['1012039', 'Kristy Ford', 'Sales Staff', 'Excellent']
Row data: ['1011069', 'Ashley Barrett', 'Sales Staff', 'Poor']
Row data: ['1013698', 'Brian Morrison', 'Sales Staff', 'Excellent']
Row data: ['1013201', 'Johnny Thomas', 'Sales Staff', 'Poor']
Row data: ['1012976', 'Anita Santiago', 'Sales Staff', 'Excellent']
Row data: ['1014194', 'Ronnie Barker', 'Sales Staff', 'Good']
Row data: ['1014374', 'Kevin Stanley', 'Sales Staff', 'Poor']
Row data: ['1013437', 'Danny Jackson', 'Sales Staff', 'Poor']
Row data: ['1011796', 'Albert Coleman', 'Sales Staff', 'Poor']
Row data: ['1013166', 'Daniel Murphy', 'Sales Staff', 'Good']
Row data: ['1011892', 'Brian Hernandez', 'Sales Staff', 'Excellent']
Row data: ['1017121', 'Thomas Newman', 'Sales Staff', 'Poor']
Row data: ['1013949', 'Alexander Sellers', 'Sales Staff', 'Poor']
Row data: ['1014469', 'Sara Rhodes', 'Sales Staff', 'Excellent']
Row data: ['1018204', 'Robert Scott', 'Sales Staff', 'Poor']
Row data: ['1018346', 'Mikayla King', 'Sales Staff', 'Good']
Row data: ['1019151', 'Marc Martinez', 'Sales Staff', 'Poor']
Row data: ['1013313', 'Chase Steele', 'Sales Staff', 'Good']
Row data: ['1014537', 'Erika Riddle', 'Sales Staff', 'Excellent']
Row data: ['1015227', 'Michael Mendoza', 'Sales Staff', 'Good']
Row data: ['1017044', 'Dr. Stephen King', 'Sales Staff', 'Poor']
Row data: ['1016769', 'Janice Case', 'Sales Staff', 'Poor']
Row data: ['1015960', 'Sydney Singleton', 'Sales Staff', 'Good']
Row data: ['1011088', 'Brandi Figueroa', 'Sales Staff', 'Poor']
Row data: ['1019996', 'Charles Becker', 'Sales Staff', 'Good']
Row data: ['1011212', 'Howard Cooper', 'Sales Staff', 'Excellent']
Row data: ['1015405', 'David Petty', 'Sales Staff', 'Excellent']
Row data: ['1017730', 'Maurice Harvey', 'Sales Staff', 'Good']
Row data: ['1019054', 'Tracy Morgan', 'Sales Staff', 'Good']
Row data: ['1014337', 'Ashley Graham', 'Sales Staff', 'Good']
Row data: ['1017971', 'Brittney Knapp', 'Sales Staff', 'Excellent']
Row data: ['1016945', 'Erica Wong', 'Sales Staff', 'Excellent']
Row data: ['1018002', 'Richard Nichols', 'Sales Staff', 'Excellent']
Row data: ['1015644', 'Tracey King', 'Sales Staff', 'Excellent']
Row data: ['1012209', 'Brian Perkins', 'Sales Staff', 'Excellent']
Row data: ['1012656', 'Nathaniel Blanchard', 'Sales Staff', 'Poor']
Row data: ['1016410', 'Joshua Parrish', 'Sales Staff', 'Good']
Row data: ['1014187', 'Jill Morris', 'Sales Staff', 'Poor']
Row data: ['1011476', 'Doris Shields', 'Sales Staff', 'Good']
Row data: ['1011664', 'Kristina Woodard', 'Sales Staff', 'Good']
Row data: ['1013552', 'Karen Burke', 'Sales Staff', 'Poor']
Row data: ['1016821', 'Sheila Lam', 'Sales Staff', 'Excellent']
Row data: ['1012934', 'Elizabeth Alvarado', 'Sales Staff', 'Good']
Row data: ['1011352', 'Edwin Sanders', 'Sales Staff', 'Good']
Row data: ['1019590', 'Joseph Guerrero', 'Sales Staff', 'Poor']
Row data: ['1015616', 'Adrian Love', 'Sales Staff', 'Poor']
Row data: ['1013068', 'Connie Martin', 'Sales Staff', 'Excellent']
Row data: ['1015751', 'Kristina Guzman', 'Sales Staff', 'Poor']
Row data: ['1018405', 'Janet Long', 'Sales Staff', 'Good']
Row data: ['1015043', 'Bethany Valdez', 'Sales Staff', 'Poor']
Row data: ['1015270', 'Julian Ramirez', 'Sales Staff', 'Good']
Row data: ['1017413', 'Laura Taylor', 'Sales Staff', 'Excellent']
Row data: ['1018647', 'Emily Sloan', 'Sales Staff', 'Excellent']
Row data: ['1019062', 'Charles Rodriguez', 'Sales Staff', 'Excellent']
Row data: ['1014844', 'Allison Holmes', 'Sales Staff', 'Poor']
Row data: ['1017143', 'David Johnson', 'Sales Staff', 'Good']
Row data: ['1011054', 'Brian Clark', 'Sales Staff', 'Poor']
Row data: ['1011681', 'April Allen', 'Sales Staff', 'Poor']
Row data: ['1013499', 'Zachary Williams', 'Sales Staff', 'Excellent']
Row data: ['1014035', 'Lindsay Adams', 'Sales Staff', 'Good']
Row data: ['1016520', 'Jeremy Bennett', 'Sales Staff', 'Good']
Row data: ['1018144', 'Brandi Reed', 'Sales Staff', 'Poor']
Row data: ['1015485', 'Timothy Downs', 'Sales Staff', 'Poor']
Row data: ['1013257', 'Leslie Atkins', 'Sales Staff', 'Good']
Row data: ['1013360', 'Amanda Benson', 'Sales Staff', 'Good']
Row data: ['1013264', 'Amanda Orozco', 'Sales Staff', 'Poor']
Row data: ['1014877', 'Charles Wilson', 'Sales Staff', 'Excellent']
Row data: ['1015462', 'Nicole Reed', 'Sales Staff', 'Poor']
Row data: ['1011546', 'Gabriel Vaughn', 'Sales Staff', 'Good']
Row data: ['1011111', 'Christine Bates', 'Sales Staff', 'Poor']
Row data: ['1018031', 'Anthony Martinez', 'Sales Staff', 'Excellent']
Row data: ['1017157', 'Justin Arnold', 'Sales Staff', 'Good']
Row data: ['1016381', 'Teresa Moore', 'Sales Staff', 'Good']
Row data: ['1016212', 'Anthony Crawford', 'Sales Staff', 'Poor']
Row data: ['1015035', 'Martin Foster', 'Sales Staff', 'Excellent']
Row data: ['1019514', 'Dawn Johnson', 'Sales Staff', 'Excellent']
Row data: ['1014285', 'April Hawkins', 'Sales Staff', 'Excellent']
Row data: ['1017162', 'Daniel Powell', 'Sales Staff', 'Excellent']
Row data: ['1014013', 'Daniel Bryant', 'Sales Staff', 'Good']
Row data: ['1012814', 'Daisy Rosario', 'Sales Staff', 'Excellent']
Row data: ['1011601', 'Shannon Long', 'Sales Staff', 'Excellent']
Row data: ['1014024', 'Elizabeth Henry', 'Sales Staff', 'Poor']
Row data: ['1011707', 'Dr. Alexandria Gonzalez MD', 'Sales Staff', 'Good']
Row data: ['1018122', 'James Escobar', 'Sales Staff', 'Good']
Row data: ['1012933', 'Rebecca Gibson', 'Sales Staff', 'Excellent']
Row data: ['1018221', 'Michael Hill', 'Sales Staff', 'Good']
Row data: ['1017322', 'John Harris', 'Sales Staff', 'Excellent']
Row data: ['1015287', 'James Waters', 'Sales Staff', 'Excellent']
Row data: ['1018168', 'Crystal Fields', 'Sales Staff', 'Excellent']
Row data: ['1011611', 'Mrs. Sandra Hobbs', 'Sales Staff', 'Poor']
Row data: ['1014287', 'Rebecca Graham', 'Sales Staff', 'Poor']
Row data: ['1018660', 'Brandon Howard', 'Sales Staff', 'Poor']
Row data: ['1017932', 'Amanda Gonzalez', 'Sales Staff', 'Poor']
Row data: ['1018497', 'John Warren', 'Sales Staff', 'Poor']
Row data: ['1011941', 'Amy Palmer', 'Sales Staff', 'Good']
Row data: ['1017467', 'Jessica Zuniga', 'Sales Staff', 'Good']
Row data: ['1017415', 'James Roach', 'Sales Staff', 'Poor']
Row data: ['1012903', 'Jade Yang', 'Sales Staff', 'Excellent']
Row data: ['1016977', 'Luis Miller', 'Sales Staff', 'Good']
Row data: ['1019393', 'Christopher Johnson', 'Sales Staff', 'Poor']
Row data: ['1015810', 'Jerry Wells', 'Sales Staff', 'Good']
Row data: ['1015122', 'Joseph Gonzalez', 'Sales Staff', 'Good']
Row data: ['1017658', 'Jonathan Rodriguez', 'Sales Staff', 'Good']
Row data: ['1017790', 'Penny Greer', 'Sales Staff', 'Excellent']
Row data: ['1012658', 'Karla Kelley', 'Sales Staff', 'Poor']
Row data: ['1012761', 'Cassandra Jones', 'Sales Staff', 'Good']
Row data: ['1015299', 'Angela Jordan', 'Sales Staff', 'Poor']
Row data: ['1011544', 'Anthony Smith', 'Sales Staff', 'Good']
Row data: ['1014155', 'Christine Fernandez', 'Sales Staff', 'Poor']
Row data: ['1013930', 'James Avila', 'Sales Staff', 'Good']
Row data: ['1018990', 'Rachel Alexander', 'Sales Staff', 'Good']
Row data: ['1017776', 'Stuart Ryan', 'Sales Staff', 'Poor']
Row data: ['1018152', 'Misty Benson', 'Sales Staff', 'Excellent']
Row data: ['1017500', 'James Perez', 'Sales Staff', 'Good']
Row data: ['1014220', 'Douglas Ramirez', 'Sales Staff', 'Poor']
Row data: ['1014721', 'Sandra Steele', 'Sales Staff', 'Good']
Row data: ['1013018', 'Susan Hudson', 'Sales Staff', 'Excellent']
Row data: ['1013263', 'Carrie York', 'Sales Staff', 'Good']
Row data: ['1015374', 'John Randall', 'Sales Staff', 'Poor']
Row data: ['1015400', 'Holly Nguyen', 'Sales Staff', 'Good']
Row data: ['1014585', 'Devin Fox', 'Sales Staff', 'Excellent']
Row data: ['1017935', 'Nichole Wells', 'Sales Staff', 'Poor']
Row data: ['1017146', 'Frederick Martinez', 'Sales Staff', 'Good']
Row data: ['1014798', 'Sharon Edwards', 'Sales Staff', 'Excellent']
Row data: ['1014156', 'Margaret Lambert', 'Sales Staff', 'Good']
Row data: ['1018252', 'Phillip Schneider MD', 'Sales Staff', 'Excellent']
Row data: ['1017916', 'Christopher Macdonald', 'Sales Staff', 'Excellent']
Row data: ['1016668', 'Michelle Nguyen', 'Sales Staff', 'Excellent']
Row data: ['1016588', 'Melissa Evans', 'Sales Staff', 'Excellent']
Row data: ['1014131', 'Jennifer Lawrence', 'Sales Staff', 'Excellent']
Row data: ['1017825', 'Carlos Vasquez', 'Sales Staff', 'Excellent']
Row data: ['1015803', 'Mark Vargas', 'Sales Staff', 'Good']
Row data: ['1017350', 'David Lara', 'Sales Staff', 'Excellent']
Row data: ['1018541', 'Stephen Mccarthy', 'Sales Staff', 'Poor']
Row data: ['1019998', 'Daniel Johnson', 'Sales Staff', 'Good']
Row data: ['1012545', 'Jessica Cohen', 'Sales Staff', 'Excellent']
Row data: ['1018893', 'David Gaines', 'Sales Staff', 'Poor']
Row data: ['1019040', 'Corey Williams', 'Sales Staff', 'Poor']
Row data: ['1012302', 'Donna Gutierrez', 'Sales Staff', 'Poor']
Row data: ['1011639', 'William Martin', 'Sales Staff', 'Excellent']
Row data: ['1013378', 'Andrew Carlson', 'Sales Staff', 'Poor']
Row data: ['1019496', 'Renee Clark', 'Sales Staff', 'Good']
Row data: ['1018505', 'Allison James', 'Sales Staff', 'Excellent']
Row data: ['1013076', 'Kevin Ferguson', 'Sales Staff', 'Excellent']
Row data: ['1011518', 'Laura Hunter', 'Sales Staff', 'Good']
Row data: ['1019271', 'Larry Murphy', 'Sales Staff', 'Good']
Row data: ['1012767', 'Anne Carroll', 'Sales Staff', 'Good']
Row data: ['1017472', 'Ashley Wood', 'Sales Staff', 'Excellent']
Row data: ['1016710', 'Julia Carter', 'Sales Staff', 'Excellent']
Row data: ['1012178', 'Michele Martin', 'Sales Staff', 'Excellent']
Row data: ['1014371', 'Terri Roberts', 'Sales Staff', 'Good']
Row data: ['1014091', 'Benjamin Martin', 'Sales Staff', 'Excellent']
Row data: ['1018335', 'Michael Koch', 'Sales Staff', 'Poor']
Row data: ['1015446', 'Justin Walter', 'Sales Staff', 'Poor']
Row data: ['1013520', 'Matthew Ford', 'Sales Staff', 'Poor']
Row data: ['1017771', 'James Brown Jr.', 'Sales Staff', 'Poor']
Row data: ['1018990', 'Leslie Rowe', 'Sales Staff', 'Excellent']
Row data: ['1011030', 'Antonio Taylor', 'Sales Staff', 'Poor']
Row data: ['1017365', 'Matthew Mullins', 'Sales Staff', 'Good']
Row data: ['1015487', 'Dr. Angel Miller MD', 'Sales Staff', 'Poor']
Row data: ['1011014', 'Beverly Brady', 'Sales Staff', 'Good']
Row data: ['1018847', 'Kayla Snow', 'Sales Staff', 'Good']
Row data: ['1016744', 'Julian Smith', 'Sales Staff', 'Excellent']
Row data: ['1011176', 'Karen Craig', 'Sales Staff', 'Excellent']
Row data: ['1019914', 'Jorge Patterson', 'Sales Staff', 'Poor']
Row data: ['1013578', 'Meagan Bowers', 'Sales Staff', 'Good']
Row data: ['1019156', 'Jay King', 'Sales Staff', 'Poor']
Row data: ['1018895', 'Erin Li', 'Sales Staff', 'Excellent']
Row data: ['1017979', 'Robert Taylor', 'Sales Staff', 'Poor']
Row data: ['1015706', 'David Richardson', 'Sales Staff', 'Excellent']
Row data: ['1017418', 'Valerie Houston', 'Sales Staff', 'Excellent']
Row data: ['1018711', 'Lori Moreno', 'Sales Staff', 'Good']
Row data: ['1011977', 'Whitney Kelley', 'Sales Staff', 'Excellent']
Row data: ['1019324', 'Timothy Mosley', 'Sales Staff', 'Good']
Row data: ['1013484', 'Lisa Ward', 'Sales Staff', 'Poor']
Row data: ['1011299', 'James Barnes', 'Sales Staff', 'Poor']
Row data: ['1019092', 'Michael Rojas', 'Sales Staff', 'Poor']
Row data: ['1013603', 'John Boyd', 'Sales Staff', 'Good']
Row data: ['1018198', 'Lisa Meyer', 'Sales Staff', 'Good']
Row data: ['1018707', 'Dr. Stephen Johnson', 'Sales Staff', 'Poor']
Row data: ['1014546', 'Catherine Grant', 'Sales Staff', 'Poor']
Row data: ['1015136', 'Sara Mullins', 'Sales Staff', 'Poor']
Row data: ['1019005', 'Barbara Hill', 'Sales Staff', 'Excellent']
Row data: ['1017001', 'James Garza', 'Sales Staff', 'Good']
Row data: ['1019040', 'Christine Wright', 'Sales Staff', 'Excellent']
Row data: ['1015151', 'Taylor Smith', 'Sales Staff', 'Excellent']
Row data: ['1016442', 'Paul Lewis', 'Sales Staff', 'Excellent']
Row data: ['1015682', 'Noah Bird', 'Sales Staff', 'Poor']
Row data: ['1011281', 'Dustin Morris', 'Sales Staff', 'Excellent']
Row data: ['1014513', 'Melissa Boyd', 'Sales Staff', 'Poor']
Row data: ['1017964', 'Kenneth Anderson', 'Sales Staff', 'Good']
Row data: ['1019389', 'Ryan Turner', 'Sales Staff', 'Poor']
Row data: ['1016916', 'Steven Chen', 'Sales Staff', 'Poor']
Row data: ['1013672', 'Mrs. Sherry Solis DDS', 'Sales Staff', 'Good']
Row data: ['1016243', 'Sara Summers', 'Sales Staff', 'Poor']
Row data: ['1017876', 'Susan Smith', 'Sales Staff', 'Excellent']
Row data: ['1012995', 'Nicole Green', 'Sales Staff', 'Good']
Row data: ['1015849', 'Mitchell Ramos', 'Sales Staff', 'Good']
Row data: ['1017452', 'Jared Munoz', 'Sales Staff', 'Good']
Row data: ['1013506', 'Heidi Williams', 'Sales Staff', 'Poor']
Row data: ['1012765', 'Alexis Bryant', 'Sales Staff', 'Excellent']
Row data: ['1017307', 'Vickie Nelson', 'Sales Staff', 'Poor']
Row data: ['1012442', 'William Kelly', 'Sales Staff', 'Good']
Row data: ['1013367', 'Robert Acosta', 'Sales Staff', 'Excellent']
Row data: ['1012951', 'Melissa Rose', 'Sales Staff', 'Excellent']
Row data: ['1017676', 'Edwin Soto MD', 'Sales Staff', 'Poor']
Row data: ['1011804', 'Scott Gay', 'Sales Staff', 'Good']
Row data: ['1017663', 'Daisy Haas', 'Sales Staff', 'Poor']
Row data: ['1011917', 'Jonathan Johnson', 'Sales Staff', 'Excellent']
Row data: ['1015298', 'Olivia Evans', 'Sales Staff', 'Excellent']
Row data: ['1016796', 'James Miller', 'Sales Staff', 'Excellent']
Row data: ['1019527', 'Stephanie Vasquez', 'Sales Staff', 'Excellent']
Row data: ['1019882', 'Sarah Carter', 'Sales Staff', 'Poor']
Row data: ['1019491', 'Michelle Johnson', 'Sales Staff', 'Excellent']
Row data: ['1014692', 'Angela Jordan', 'Sales Staff', 'Poor']
Row data: ['1017807', 'Julie Fields', 'Sales Staff', 'Good']
Row data: ['1014692', 'Erika Fowler', 'Sales Staff', 'Good']
Row data: ['1014343', 'Danielle Howard', 'Sales Staff', 'Good']
Row data: ['1017254', 'Jennifer Thompson', 'Sales Staff', 'Poor']
Row data: ['1013831', 'Vincent Bell', 'Sales Staff', 'Good']
Row data: ['1018582', 'Zachary York', 'Sales Staff', 'Excellent']
Row data: ['1013659', 'Steven Jones', 'Sales Staff', 'Excellent']
Row data: ['1012609', 'Debra King', 'Sales Staff', 'Good']
Row data: ['1017166', 'Bryan Shepherd', 'Sales Staff', 'Good']
Row data: ['1013551', 'Kristin Mcintosh', 'Sales Staff', 'Excellent']
Row data: ['1019655', 'Kayla Murillo', 'Sales Staff', 'Good']
Row data: ['1019546', 'Steven Robinson', 'Sales Staff', 'Excellent']
Row data: ['1015646', 'Ryan Norris', 'Sales Staff', 'Excellent']
Row data: ['1014860', 'Renee Stone', 'Sales Staff', 'Good']
Row data: ['1019416', 'Michelle Conrad', 'Sales Staff', 'Poor']
Row data: ['1017034', 'Kyle Carter', 'Sales Staff', 'Excellent']
Row data: ['1011133', 'April Williamson', 'Sales Staff', 'Excellent']
Row data: ['1011591', 'Ronald Palmer', 'Sales Staff', 'Good']
Row data: ['1019575', 'Brandon Diaz', 'Sales Staff', 'Poor']
Row data: ['1014799', 'David Valdez', 'Sales Staff', 'Poor']
Row data: ['1011640', 'Phillip Fox', 'Sales Staff', 'Good']
Row data: ['1015034', 'April Casey', 'Sales Staff', 'Excellent']
Row data: ['1018329', 'Michael Davis', 'Sales Staff', 'Poor']
Row data: ['1018527', 'Andrew Lee', 'Sales Staff', 'Good']
Row data: ['1016552', 'Todd Lewis', 'Sales Staff', 'Poor']
Row data: ['1018624', 'Stephen Perez', 'Sales Staff', 'Poor']
Row data: ['1011396', 'Justin Garcia', 'Sales Staff', 'Poor']
Row data: ['1012550', 'Donna Mccann', 'Sales Staff', 'Excellent']
Row data: ['1018251', 'Jennifer Lopez', 'Sales Staff', 'Good']
Row data: ['1013400', 'Laura Ball', 'Sales Staff', 'Poor']
Row data: ['1015003', 'Jose Walters', 'Sales Staff', 'Good']
Row data: ['1016173', 'Connie Dunlap', 'Sales Staff', 'Good']
Row data: ['1015623', 'Allen Hernandez', 'Sales Staff', 'Excellent']
Row data: ['1017346', 'Rhonda Lowe', 'Sales Staff', 'Poor']
Row data: ['1014335', 'Andre Wu', 'Sales Staff', 'Good']
Row data: ['1014804', 'Taylor Sheppard', 'Sales Staff', 'Poor']
Row data: ['1016809', 'Victor Dixon', 'Sales Staff', 'Good']
Row data: ['1012807', 'Doris Butler', 'Sales Staff', 'Excellent']
Row data: ['1013311', 'Danielle Little', 'Sales Staff', 'Poor']
Row data: ['1012678', 'Catherine Black', 'Sales Staff', 'Good']
Row data: ['1012929', 'Charles Rice', 'Sales Staff', 'Excellent']
Row data: ['1019236', 'Rebecca Thomas', 'Sales Staff', 'Poor']
Row data: ['1015089', 'Cameron Smith', 'Sales Staff', 'Good']
Row data: ['1012488', 'Arthur Ruiz', 'Sales Staff', 'Excellent']
Row data: ['1019576', 'David Williams', 'Sales Staff', 'Excellent']
Row data: ['1018238', 'Rebecca Pope', 'Sales Staff', 'Excellent']
Row data: ['1018984', 'Frank Owens', 'Sales Staff', 'Poor']
Row data: ['1015502', 'Jeremiah Davis', 'Sales Staff', 'Good']
Row data: ['1015384', 'Regina Hayes', 'Sales Staff', 'Poor']
Row data: ['1019637', 'Amanda Diaz', 'Sales Staff', 'Good']
Row data: ['1018703', 'Preston Reed', 'Sales Staff', 'Good']
Row data: ['1018505', 'Maxwell Christensen', 'Sales Staff', 'Poor']
Row data: ['1016347', 'Pamela Parker', 'Sales Staff', 'Poor']
Row data: ['1019186', 'Patrick Jefferson', 'Sales Staff', 'Good']
Row data: ['1011047', 'Mrs. Kim Brown', 'Sales Staff', 'Good']
Row data: ['1019524', 'Angie Bryant', 'Sales Staff', 'Excellent']
Row data: ['1016309', 'Daniel Henderson', 'Sales Staff', 'Poor']
Row data: ['1014517', 'Thomas Calhoun', 'Sales Staff', 'Good']
Row data: ['1017142', 'Lisa Crawford', 'Sales Staff', 'Excellent']
Row data: ['1019022', 'Kelsey Shaw', 'Sales Staff', 'Poor']
Row data: ['1017025', 'Tony Ramsey', 'Sales Staff', 'Good']
Row data: ['1013713', 'Debra Garrett', 'Sales Staff', 'Excellent']
Row data: ['1014022', 'Michael Richmond', 'Sales Staff', 'Excellent']
Row data: ['1014206', 'Dr. Elizabeth Martinez', 'Sales Staff', 'Excellent']
Row data: ['1011121', 'Michelle Villanueva', 'Sales Staff', 'Poor']
Row data: ['1013505', 'Ms. Shannon Grimes', 'Sales Staff', 'Good']
Row data: ['1017990', 'Lisa Morales', 'Sales Staff', 'Poor']
Row data: ['1019977', 'Adam Patrick', 'Sales Staff', 'Good']
Row data: ['1014318', 'Anthony Ellis', 'Sales Staff', 'Good']
Row data: ['1015277', 'Kevin Hoffman', 'Sales Staff', 'Excellent']
Row data: ['1015477', 'Lynn Singleton', 'Sales Staff', 'Good']
Row data: ['1011377', 'Sydney Horton', 'Sales Staff', 'Good']
Row data: ['1018989', 'Timothy Porter', 'Sales Staff', 'Good']
Row data: ['1014601', 'James Anderson', 'Sales Staff', 'Poor']
Row data: ['1019658', 'Alexander Arnold', 'Sales Staff', 'Good']
Row data: ['1014004', 'Jeffrey Jones', 'Sales Staff', 'Poor']
Row data: ['1014256', 'Lisa Francis', 'Sales Staff', 'Good']
Row data: ['1014780', 'Joseph Smith', 'Sales Staff', 'Excellent']
Row data: ['1016271', 'Timothy Frederick', 'Sales Staff', 'Excellent']
Row data: ['1017669', 'Michael Alexander', 'Sales Staff', 'Excellent']
Row data: ['1011540', 'Patricia Shaffer', 'Sales Staff', 'Poor']

Abstract Class Product (many-to-many) Abstract Class Production Staff -- "Produce"

In [ ]:
# ----------------------------------------------------------
# Class StaffProductRelation: Manages the many-to-many relationship
# between ProductionStaff and Products (i.e., which staff produces which products)
# ----------------------------------------------------------

class StaffProductRelation:
    """
    The StaffProductRelation class manages the many-to-many relationship between ProductionStaff and Products.
    Each production staff can produce multiple products, and each product can be produced by multiple staff members.
    """

    def __init__(self):
        """
        Initializes the StaffProductRelation, which keeps track of the staff-product associations.
        """
        self.staff_product_map = {}  # Maps ProductionStaff to a list of Products they produce

    def assign_product_to_staff(self, staff: ProductionStaff, product: Product) -> None:
        """
        Assigns a product to a production staff, establishing a relationship between them.

        :param staff: An instance of ProductionStaff.
        :param product: An instance of Product.
        """
        # If the staff is not yet in the map, add them with an empty list of products
        if staff not in self.staff_product_map:
            self.staff_product_map[staff] = []

        # Add the product to the staff's list of produced products
        self.staff_product_map[staff].append(product)

    def get_products_for_staff(self, staff: ProductionStaff) -> list:
        """
        Retrieves a list of products produced by a specific production staff.

        :param staff: An instance of ProductionStaff.
        :return: List of Products produced by the staff.
        """
        return self.staff_product_map.get(staff, [])  # Return the list of products for the staff

    def get_staff_for_product(self, product: Product) -> list:
        """
        Retrieves a list of production staff who produce a specific product.

        :param product: An instance of Product.
        :return: List of ProductionStaff who produce the product.
        """
        staff_members = []

        # Iterate through the staff-product map to find the staff members producing the product
        for staff, products in self.staff_product_map.items():
            if product in products:
                staff_members.append(staff)

        return staff_members


# ----------------------------------------------------------
# Example Usage
# ----------------------------------------------------------

# Create instances of ProductionStaff
staff1 = ProductionStaff(1, "Alice", 101, 201, "Alice", "Supervisor")
staff2 = ProductionStaff(2, "Bob", 101, 202, "Bob", "Worker")
staff3 = ProductionStaff(3, "Charlie", 102, 203, "Charlie", "Technician")
staff4 = ProductionStaff(4, "David", 102, 204, "David", "Supervisor")
staff5 = ProductionStaff(5, "Eve", 103, 205, "Eve", "Worker")
staff6 = ProductionStaff(6, "Frank", 103, 206, "Frank", "Technician")
staff7 = ProductionStaff(7, "Grace", 104, 207, "Grace", "Worker")
staff8 = ProductionStaff(8, "Henry", 104, 208, "Henry", "Worker")

# Create instances of Product
product1 = Product(101, "Product A", 100, ["Ingredient 1", "Ingredient 2"], 4.5, ["Review 1", "Review 2"], 50, 1001, 200, date(2025, 5, 1))
product2 = Product(102, "Product B", 150, ["Ingredient 3", "Ingredient 4"], 4.0, ["Review 3", "Review 4"], 75, 1002, 300, date(2026, 1, 1))
product3 = Product(103, "Product C", 200, ["Ingredient 5", "Ingredient 6"], 4.2, ["Review 5", "Review 6"], 100, 1002, 70, date(2026, 1, 1))
product4 = Product(104, "Product D", 120, ["Ingredient 7", "Ingredient 8"], 4.9, ["Review 7", "Review 8"], 60, 1004, 150, date(2029, 9, 30))


# Create an instance of StaffProductRelation to manage relationships
staff_product_relation = StaffProductRelation()

# Assign products to staff (who produces which product)
staff_product_relation.assign_product_to_staff(staff1, product1)
staff_product_relation.assign_product_to_staff(staff2, product1)
staff_product_relation.assign_product_to_staff(staff2, product2)
staff_product_relation.assign_product_to_staff(staff3, product1)
staff_product_relation.assign_product_to_staff(staff3, product2)
staff_product_relation.assign_product_to_staff(staff3, product3)
staff_product_relation.assign_product_to_staff(staff3, product4)
staff_product_relation.assign_product_to_staff(staff4, product3)
staff_product_relation.assign_product_to_staff(staff4, product4)
staff_product_relation.assign_product_to_staff(staff5, product2)
staff_product_relation.assign_product_to_staff(staff8, product2)

# Get products for a specific production staff
print("Products produced by Alice:")
products_for_alice = staff_product_relation.get_products_for_staff(staff1)
for prod in products_for_alice:
    print(prod.get_pname())

print("Products by Charlie: ")
products_for_Charlie = staff_product_relation.get_products_for_staff(staff3)
for prod in products_for_Charlie:
    print(prod.get_pname())

# Get staff for a specific product
print("\nStaff members producing Product B:")
staff_for_product_b = staff_product_relation.get_staff_for_product(product2)
for staff in staff_for_product_b:
    print(staff.GetPSName())

Products produced by Alice:
Product A
Products by Charlie:
Product A
Product B
Product C
Product D

Staff members producing Product B:
Bob
Charlie
Eve
Henry

Final Class Production Manager (one-to-many) Abstract Class Production Staff -- "Supervise"

In [ ]:
# ----------------------------------------------------------
# Class ProductionManagerSupervision: Manages the "Supervise" relationship between Production Manager and Production Staff
# ----------------------------------------------------------

class ProductionManagerSupervision:
    """
    The ProductionManagerSupervision class manages the one-to-many relationship
    between Production Manager and their supervised Production Staff members.
    It stores the staff members under the supervision of each manager.
    """

    def __init__(self):
        """
        Initializes the ProductionManagerSupervision instance, which keeps track of the supervisor-staff relationships.
        """
        # Dictionary to map ProductionManager instances to a list of ProductionStaff instances they supervise
        self.manager_staff_map = {}

    def assign_staff_to_manager(self, manager: ProductionManager, staff: ProductionStaff) -> None:
        """
        Assigns a Production Staff member to a Production Manager, establishing the supervisor-staff relationship.

        :param manager: An instance of ProductionManager.
        :param staff: An instance of ProductionStaff.
        """
        # If the manager doesn't exist in the map, create a new entry for them
        if manager not in self.manager_staff_map:
            self.manager_staff_map[manager] = []

        # Add the staff member to the list of the manager's supervised staff
        self.manager_staff_map[manager].append(staff)

    def get_staff_for_manager(self, manager: ProductionManager) -> List[ProductionStaff]:
        """
        Retrieves the list of Production Staff supervised by a specific Production Manager.

        :param manager: An instance of ProductionManager.
        :return: List of ProductionStaff instances that are supervised by the manager.
        """
        # Return the list of staff for the given manager, or an empty list if no staff assigned
        return self.manager_staff_map.get(manager, [])

    def get_managers_for_staff(self, staff: ProductionStaff) -> List[ProductionManager]:
        """
        Retrieves the list of Production Managers supervising a particular Production Staff.

        :param staff: An instance of ProductionStaff.
        :return: List of ProductionManager instances that supervise this staff member.
        """
        managers = []
        # Loop through each manager-staff pair to find the managers for the given staff member
        for manager, staff_list in self.manager_staff_map.items():
            if staff in staff_list:
                managers.append(manager)
        return managers


# ----------------------------------------------------------
# Example Usage
# ----------------------------------------------------------

# Create instances of Production Manager
pm1 = ProductionManager(1, "John Doe", 8.5, 101, "Alice", 0, 201, "Manager", "Manager")
pm2 = ProductionManager(2, "Jane Smith", 9.2, 102, "Bob", 0, 202, "Manager", "Manager")

# Create instances of Production Staff
staff1 = ProductionStaff(101, "Alice", 201, 1001, "Alice", "Production Staff")
staff2 = ProductionStaff(102, "Bob", 201, 1002, "Bob", "Production Staff")
staff3 = ProductionStaff(103, "Charlie", 202, 1003, "Charlie", "Production Staff")
staff4 = ProductionStaff(104, "David", 202, 1004, "David", "Production Staff")

# Create an instance of ProductionManagerSupervision to manage the relationships
supervision = ProductionManagerSupervision()

# Assign staff members to managers
supervision.assign_staff_to_manager(pm1, staff1)
supervision.assign_staff_to_manager(pm1, staff2)
supervision.assign_staff_to_manager(pm2, staff3)
supervision.assign_staff_to_manager(pm2, staff4)

# Get the staff supervised by a specific manager
staff_for_pm1 = supervision.get_staff_for_manager(pm1)
print("Staff supervised by Manager John Doe:")
for staff in staff_for_pm1:
    print(f"{staff.GetPSName()}")

staff_for_pm2 = supervision.get_staff_for_manager(pm2)
print("\nStaff supervised by Manager Jane Smith:")
for staff in staff_for_pm2:
    print(f"{staff.GetPSName()}")

# Get the managers supervising a specific staff member
managers_for_staff1 = supervision.get_managers_for_staff(staff1)
print("\nManagers supervising Alice:")
for manager in managers_for_staff1:
    print(f"{manager.GetPMName()}")

Staff supervised by Manager John Doe:
Alice
Bob

Staff supervised by Manager Jane Smith:
Charlie
David

Managers supervising Alice:
John Doe

Final Class Promotion Staff (many-to-many) Abstract Class Product -- "Promotes"

In [ ]:
# ----------------------------------------------------------
# Class PromotionManagement: Manages the "promotes" many-to-many relationship
# ----------------------------------------------------------

class PromotionManagement:
    """
    The PromotionManagement class manages the many-to-many relationship
    between Promotion Staff and Products. It tracks which Promotion Staff promotes which Products.
    """

    def __init__(self):
        """
        Initializes the PromotionManagement instance which stores the relationships
        between Promotion Staff and Products.
        """
        # Dictionary to map Promotion Staff to a list of Products they promote
        self.staff_to_products = {}

        # Dictionary to map Products to a list of Promotion Staff who promote them
        self.product_to_staff = {}

    def assign_product_to_staff(self, staff: PromotionStaff, product: Product) -> None:
        """
        Assigns a Product to a Promotion Staff, establishing the "promotes" relationship.

        :param staff: An instance of PromotionStaff.
        :param product: An instance of Product.
        """
        # If the staff is not in the staff_to_products dictionary, create an entry for them
        if staff not in self.staff_to_products:
            self.staff_to_products[staff] = []

        # Add the product to the staff's list of promoted products
        self.staff_to_products[staff].append(product)

        # If the product is not in the product_to_staff dictionary, create an entry for it
        if product not in self.product_to_staff:
            self.product_to_staff[product] = []

        # Add the staff to the list of staff promoting this product
        self.product_to_staff[product].append(staff)

    def get_products_promoted_by_staff(self, staff: PromotionStaff) -> List[Product]:
        """
        Retrieves the list of Products promoted by a specific Promotion Staff.

        :param staff: An instance of PromotionStaff.
        :return: List of Product instances that are promoted by the staff.
        """
        # Return the list of products promoted by the staff, or an empty list if none
        return self.staff_to_products.get(staff, [])

    def get_staff_promoting_product(self, product: Product) -> List[PromotionStaff]:
        """
        Retrieves the list of Promotion Staff promoting a specific Product.

        :param product: An instance of Product.
        :return: List of PromotionStaff instances promoting the product.
        """
        # Return the list of staff promoting the product, or an empty list if none
        return self.product_to_staff.get(product, [])

# ----------------------------------------------------------
# Example Usage
# ----------------------------------------------------------

# Create instances of Promotion Staff
promo_staff1 = PromotionStaff(1001, "Tom Hanks", "Senior Promoter", 1, "Tom")
promo_staff2 = PromotionStaff(1002, "Hailey Stone", "Junior Promoter", 2, "Hailey")

# Create instances of Product
product1 = Product(1, "Product A", 200, ["Ingredient1", "Ingredient2"], 4.5, ["Review1", "Review2"], 150, 101, 50, date(2025, 12, 31))
product2 = Product(2, "Product B", 150, ["Ingredient3", "Ingredient4"], 4.0, ["Review3", "Review4"], 120, 102, 30, date(2024, 5, 31))

# Create an instance of PromotionManagement to manage the relationship
promotion_manager = PromotionManagement()

# Assign products to promotion staff
promotion_manager.assign_product_to_staff(promo_staff1, product1)
promotion_manager.assign_product_to_staff(promo_staff1, product2)
promotion_manager.assign_product_to_staff(promo_staff2, product1)

# Get the products promoted by a specific staff member
products_by_staff1 = promotion_manager.get_products_promoted_by_staff(promo_staff1)
print("Products promoted by Tom Hanks:")
for product in products_by_staff1:
    print(f"{product.get_pname()}")

# Get the staff promoting a specific product
staff_for_product1 = promotion_manager.get_staff_promoting_product(product1)
print("\nStaff promoting Product A:")
for staff in staff_for_product1:
    print(f"{staff.GetPrSName()}")

Products promoted by Tom Hanks:
Product A
Product B

Staff promoting Product A:
Tom
Hailey

Abstract Class Sales Staff (many-to-many) Abstract Class Product -- "Sells"

In [ ]:
# ----------------------------------------------------------
# Class SalesManagement: Manages the "Sells" many-to-many relationship
# ----------------------------------------------------------

class SalesManagement:
    """
    The SalesManagement class manages the many-to-many relationship
    between Sales Staff and Products. It tracks which Sales Staff sells which Products.
    """

    def __init__(self):
        """
        Initializes the SalesManagement instance which stores the relationships
        between Sales Staff and Products.
        """
        # Dictionary to map Sales Staff to a list of Products they sell
        self.staff_to_products = {}

        # Dictionary to map Products to a list of Sales Staff who sell them
        self.product_to_staff = {}

    def assign_product_to_sales_staff(self, staff: SalesStaff, product: Product) -> None:
        """
        Assigns a Product to a Sales Staff, establishing the "Sells" relationship.

        :param staff: An instance of SalesStaff.
        :param product: An instance of Product.
        """
        # If the staff is not in the staff_to_products dictionary, create an entry for them
        if staff not in self.staff_to_products:
            self.staff_to_products[staff] = []

        # Add the product to the staff's list of sold products
        self.staff_to_products[staff].append(product)

        # If the product is not in the product_to_staff dictionary, create an entry for it
        if product not in self.product_to_staff:
            self.product_to_staff[product] = []

        # Add the staff to the list of staff selling this product
        self.product_to_staff[product].append(staff)

    def get_products_sold_by_staff(self, staff: SalesStaff) -> List[Product]:
        """
        Retrieves the list of Products sold by a specific Sales Staff.

        :param staff: An instance of SalesStaff.
        :return: List of Product instances that are sold by the staff.
        """
        # Return the list of products sold by the staff, or an empty list if none
        return self.staff_to_products.get(staff, [])

    def get_staff_selling_product(self, product: Product) -> List[SalesStaff]:
        """
        Retrieves the list of Sales Staff selling a specific Product.

        :param product: An instance of Product.
        :return: List of SalesStaff instances selling the product.
        """
        # Return the list of staff selling the product, or an empty list if none
        return self.product_to_staff.get(product, [])

# ----------------------------------------------------------
# Example Usage
# ----------------------------------------------------------

# Create instances of Sales Staff
sales_staff1 = SalesStaff(2001, "Alice Johnson", 101, 1001, "John Doe", "Senior Sales")
sales_staff2 = SalesStaff(2002, "Bob Smith", 102, 1002, "Jane Doe", "Junior Sales")

# Create instances of Product
product1 = Product(1, "Product A", 200, ["Ingredient1", "Ingredient2"], 4.5, ["Review1", "Review2"], 150, 101, 50, date(2025, 12, 31))
product2 = Product(2, "Product B", 150, ["Ingredient3", "Ingredient4"], 4.0, ["Review3", "Review4"], 120, 102, 30, date(2024, 5, 31))

# Create an instance of SalesManagement to manage the relationship
sales_manager = SalesManagement()

# Assign products to sales staff
sales_manager.assign_product_to_sales_staff(sales_staff1, product1)
sales_manager.assign_product_to_sales_staff(sales_staff1, product2)
sales_manager.assign_product_to_sales_staff(sales_staff2, product1)

# Get the products sold by a specific staff member
products_by_staff1 = sales_manager.get_products_sold_by_staff(sales_staff1)
print("Products sold by Alice Johnson:")
for product in products_by_staff1:
    print(f"{product.get_pname()}")

# Get the staff selling a specific product
staff_for_product1 = sales_manager.get_staff_selling_product(product1)
print("\nStaff selling Product A:")
for staff in staff_for_product1:
    print(f"{staff.GetSSName()}")

Products sold by Alice Johnson:
Product A
Product B

Staff selling Product A:
Alice Johnson
Bob Smith

Final Class RnD (one-to-one) Final Class Marketing Manager -- "Gives Market Report"

In [ ]:
# ----------------------------------------------------------
# Class MarketReport: Represents the "Gives Market Report" one-to-one relationship
# ----------------------------------------------------------

class MarketReport:
    """
    The MarketReport class manages the one-to-one relationship between
    the Marketing Manager and the Research and Development (RnD) department.
    Each Marketing Manager provides a market report to exactly one RnD department member.
    """

    def __init__(self):
        """
        Initializes the MarketReport instance which stores the relationship
        between a Marketing Manager and an RnD member.
        """
        self.manager_to_rnd = {}  # Dictionary mapping Marketing Manager to RnD member

    def assign_market_report(self, marketing_manager: MarketingManager, rnd: RnD) -> None:
        """
        Assigns the Market Report relationship, where a Marketing Manager gives a market report to an RnD member.

        :param marketing_manager: An instance of MarketingManager.
        :param rnd: An instance of RnD.
        """
        # Ensuring that the relationship is one-to-one
        if marketing_manager in self.manager_to_rnd:
            raise ValueError("This Marketing Manager already gives a market report to another RnD member.")

        # Establish the one-to-one relationship
        self.manager_to_rnd[marketing_manager] = rnd

    def get_rnd_for_manager(self, marketing_manager: MarketingManager) -> RnD:
        """
        Retrieves the RnD member to whom the Marketing Manager gives the market report.

        :param marketing_manager: An instance of MarketingManager.
        :return: The RnD instance to whom the report is given.
        """
        return self.manager_to_rnd.get(marketing_manager, None)

    def get_manager_for_rnd(self, rnd: RnD) -> MarketingManager:
        """
        Retrieves the Marketing Manager who gives the market report to the RnD member.

        :param rnd: An instance of RnD.
        :return: The MarketingManager instance who provides the report.
        """
        for manager, rnd_member in self.manager_to_rnd.items():
            if rnd_member == rnd:
                return manager
        return None

# ----------------------------------------------------------
# Example Usage
# ----------------------------------------------------------

# Create instances of MarketingManager and RnD
marketing_manager = MarketingManager(1001, "Alice Walker", "Marketing Manager",
                                     2001, "Bob Smith", 101, 3001, "John Brown", 0.15)
rnd_member = RnD(4001, "Consumer Behavior", "AI-driven innovation", 5001, "Emily Green", "Head of RnD")

# Create an instance of MarketReport to manage the relationship
market_report_manager = MarketReport()

# Assign the market report from the Marketing Manager to the RnD member
market_report_manager.assign_market_report(marketing_manager, rnd_member)

# Get the RnD member who receives the report from the Marketing Manager
rnd_for_manager = market_report_manager.get_rnd_for_manager(marketing_manager)
print(f"Marketing Manager {marketing_manager.GetMMName()} gives the market report to RnD member {rnd_for_manager.GetEmpName()}")

# Get the Marketing Manager who gives the market report to a specific RnD member
manager_for_rnd = market_report_manager.get_manager_for_rnd(rnd_member)
print(f"RnD member {rnd_member.GetEmpName()} receives the market report from Marketing Manager {manager_for_rnd.GetMMName()}")

Marketing Manager John Brown gives the market report to RnD member Emily Green
RnD member Emily Green receives the market report from Marketing Manager John Brown

Final Class Marketing Manager (one-to-many) Abstract Class Sales Staff -- "Supervise"

In [ ]:
# ----------------------------------------------------------
# Class Supervision: Manages the One-to-Many Relationship
# ----------------------------------------------------------

class Supervision:
    """
    The Supervision class manages the one-to-many relationship where a Marketing Manager
    supervises multiple Sales Staff members.
    """

    def __init__(self):
        """
        Initializes the Supervision instance, which stores the one-to-many relationship
        between a Marketing Manager and multiple Sales Staff members.
        """
        self.manager_to_sales_staff = {}  # Dictionary to store the relationship between Marketing Manager and Sales Staff

    def supervise(self, marketing_manager: MarketingManager, sales_staff: SalesStaff) -> None:
        """
        Assigns a Sales Staff member to be supervised by a Marketing Manager.

        :param marketing_manager: An instance of MarketingManager.
        :param sales_staff: An instance of SalesStaff.
        """
        # Check if the Marketing Manager already has a list of supervised staff, if not, create an empty list
        if marketing_manager not in self.manager_to_sales_staff:
            self.manager_to_sales_staff[marketing_manager] = []

        # Add the Sales Staff member to the list of supervised staff for this Marketing Manager
        self.manager_to_sales_staff[marketing_manager].append(sales_staff)

    def get_sales_staff_for_manager(self, marketing_manager: MarketingManager) -> list:
        """
        Retrieves the list of Sales Staff members supervised by a specific Marketing Manager.

        :param marketing_manager: An instance of MarketingManager.
        :return: A list of Sales Staff instances supervised by the Marketing Manager.
        """
        return self.manager_to_sales_staff.get(marketing_manager, [])

    def get_supervisor_for_sales_staff(self, sales_staff: SalesStaff) -> MarketingManager:
        """
        Retrieves the Marketing Manager who supervises a specific Sales Staff member.

        :param sales_staff: An instance of SalesStaff.
        :return: The Marketing Manager instance who supervises this Sales Staff.
        """
        for manager, staff_list in self.manager_to_sales_staff.items():
            if sales_staff in staff_list:
                return manager
        return None

# ----------------------------------------------------------
# Example Usage
# ----------------------------------------------------------

# Create instances of MarketingManager and SalesStaff
marketing_manager = MarketingManager(1001, "Alice Walker", "Marketing Manager",
                                     2001, "Bob Smith", 101, 3001, "John Brown", 0.15)

# Creating multiple instances of SalesStaff
sales_staff_1 = SalesStaff(101, "David Lee", 201, 2001, "Alice Walker", "Sales Staff")
sales_staff_2 = SalesStaff(102, "Maria Davis", 202, 2002, "Alice Walker", "Sales Staff")
sales_staff_3 = SalesStaff(103, "Kevin Brown", 203, 2003, "Alice Walker", "Sales Staff")

# Create an instance of Supervision to manage the relationship
supervision = Supervision()

# Assign the Sales Staff members to be supervised by the Marketing Manager
supervision.supervise(marketing_manager, sales_staff_1)
supervision.supervise(marketing_manager, sales_staff_2)
supervision.supervise(marketing_manager, sales_staff_3)

# Retrieve and print the list of Sales Staff supervised by the Marketing Manager
sales_staff_list = supervision.get_sales_staff_for_manager(marketing_manager)
print(f"Marketing Manager {marketing_manager.GetMMName()} supervises the following Sales Staff:")
for staff in sales_staff_list:
    print(f"- {staff.GetSSName()}")

# Get and print the supervisor (Marketing Manager) for a specific Sales Staff member
supervisor = supervision.get_supervisor_for_sales_staff(sales_staff_1)
print(f"Sales Staff {sales_staff_1.GetSSName()} is supervised by Marketing Manager {supervisor.GetMMName()}")

Marketing Manager John Brown supervises the following Sales Staff:
- David Lee
- Maria Davis
- Kevin Brown
Sales Staff David Lee is supervised by Marketing Manager John Brown

Final Class Marketing Manager (one-to-many) Final Class Promotion Staff -- "Supervise"

In [ ]:
# ----------------------------------------------------------
# Class Supervision: Manages the One-to-Many Relationship
# ----------------------------------------------------------

class Supervision:
    """
    The Supervision class manages the one-to-many relationship where a Marketing Manager
    supervises multiple Promotion Staff members.
    """

    def __init__(self):
        """
        Initializes the Supervision instance, which stores the one-to-many relationship
        between a Marketing Manager and multiple Promotion Staff members.
        """
        self.manager_to_promotion_staff = {}  # Dictionary to store the relationship between Marketing Manager and Promotion Staff

    def supervise(self, marketing_manager: MarketingManager, promotion_staff: PromotionStaff) -> None:
        """
        Assigns a Promotion Staff member to be supervised by a Marketing Manager.

        :param marketing_manager: An instance of MarketingManager.
        :param promotion_staff: An instance of PromotionStaff.
        """
        # Check if the Marketing Manager already has a list of supervised promotion staff, if not, create an empty list
        if marketing_manager not in self.manager_to_promotion_staff:
            self.manager_to_promotion_staff[marketing_manager] = []

        # Add the Promotion Staff member to the list of supervised staff for this Marketing Manager
        self.manager_to_promotion_staff[marketing_manager].append(promotion_staff)

    def get_promotion_staff_for_manager(self, marketing_manager: MarketingManager) -> list:
        """
        Retrieves the list of Promotion Staff members supervised by a specific Marketing Manager.

        :param marketing_manager: An instance of MarketingManager.
        :return: A list of Promotion Staff instances supervised by the Marketing Manager.
        """
        return self.manager_to_promotion_staff.get(marketing_manager, [])

    def get_supervisor_for_promotion_staff(self, promotion_staff: PromotionStaff) -> MarketingManager:
        """
        Retrieves the Marketing Manager who supervises a specific Promotion Staff member.

        :param promotion_staff: An instance of PromotionStaff.
        :return: The Marketing Manager instance who supervises this Promotion Staff.
        """
        for manager, staff_list in self.manager_to_promotion_staff.items():
            if promotion_staff in staff_list:
                return manager
        return None


# ----------------------------------------------------------
# Example Usage
# ----------------------------------------------------------

# Create instances of MarketingManager and PromotionStaff
marketing_manager = MarketingManager(1001, "Alice Walker", "Marketing Manager",
                                     2001, "Bob Smith", 101, 3001, "John Brown", 0.15)

# Creating multiple instances of PromotionStaff
promotion_staff_1 = PromotionStaff(101, "David Lee", "Promotion Staff", 5001, "Sarah Miller")
promotion_staff_2 = PromotionStaff(102, "Maria Davis", "Promotion Staff", 5002, "James Wilson")
promotion_staff_3 = PromotionStaff(103, "Kevin Brown", "Promotion Staff", 5003, "Emily Clark")

# Create an instance of Supervision to manage the relationship
supervision = Supervision()

# Assign the Promotion Staff members to be supervised by the Marketing Manager
supervision.supervise(marketing_manager, promotion_staff_1)
supervision.supervise(marketing_manager, promotion_staff_2)
supervision.supervise(marketing_manager, promotion_staff_3)

# Retrieve and print the list of Promotion Staff supervised by the Marketing Manager
promotion_staff_list = supervision.get_promotion_staff_for_manager(marketing_manager)
print(f"Marketing Manager {marketing_manager.GetMMName()} supervises the following Promotion Staff:")
for staff in promotion_staff_list:
    print(f"- {staff.GetPrSName()}")

# Get and print the supervisor (Marketing Manager) for a specific Promotion Staff member
supervisor = supervision.get_supervisor_for_promotion_staff(promotion_staff_1)
print(f"Promotion Staff {promotion_staff_1.GetPrSName()} is supervised by Marketing Manager {supervisor.GetMMName()}")

Marketing Manager John Brown supervises the following Promotion Staff:
- Sarah Miller
- James Wilson
- Emily Clark
Promotion Staff Sarah Miller is supervised by Marketing Manager John Brown

In [ ]:
# Path to your CSV file
file_path = '/content/employees.csv'  # Replace this with the actual path to your CSV file

# Read the CSV file into a pandas DataFrame
employee_data = pd.read_csv(file_path)

# Get the first 50 rows of the DataFrame
employee_data_first_50 = employee_data.head(50)

# Pretty print the first 50 rows as a table
print(tabulate(employee_data_first_50, headers='keys', tablefmt='pretty', showindex=False))

+-------------+----------------------+--------------------+
| Employee ID |         Name         |      Position      |
+-------------+----------------------+--------------------+
|   1012172   |    Jack Henderson    |  Promotion Staff   |
|   1017272   |    Timothy Nelson    |  Sales Associate   |
|   1018809   |     John Oliver      | Marketing Manager  |
|   1013286   |  Jacqueline Nelson   |    Sales Staff     |
|   1012526   |      Mark Horne      |    Stock Clerk     |
|   1019221   |   Lawrence Aguilar   |  Sales Associate   |
|   1013001   |    Jessica Nelson    |    Stock Clerk     |
|   1018399   |      Diane Shah      |    Sales Staff     |
|   1019998   |     Joshua Perez     |  Promotion Staff   |
|   1015070   |  Jennifer Gonzalez   |  Sales Associate   |
|   1011132   |     Lisa Warner      |     R&D Staff      |
|   1013576   |     Raven Myers      |    Stock Clerk     |
|   1019759   |   Amanda Arellano    |  Promotion Staff   |
|   1013774   |     Gregory Rose     |  Sales Associate   |
|   1015670   |   Catherine Graham   |    Stock Clerk     |
|   1018250   |    Heather Smith     |  Sales Associate   |
|   1012560   |   Katrina Barrett    |     R&D Staff      |
|   1013990   |    Jennifer Allen    |    Stock Clerk     |
|   1017412   |    Matthew Silva     |     R&D Staff      |
|   1011572   |      Jon Haley       |  Sales Associate   |
|   1014120   |      April Soto      |    Stock Clerk     |
|   1015728   |    William Evans     |  Sales Associate   |
|   1019420   |    Maria Gonzalez    |    Sales Staff     |
|   1011710   |   Christina Young    |  Promotion Staff   |
|   1016995   |    Michael Thomas    |  Production Staff  |
|   1018395   |   Kathryn Johnson    |  Production Staff  |
|   1013839   |      Troy Jones      |    Sales Staff     |
|   1017125   | Bradley Gonzalez Jr. |  Sales Associate   |
|   1012898   |      Kevin King      |    Stock Clerk     |
|   1015740   |  Richard Maldonado   |    Sales Staff     |
|   1011718   |     Justin Smith     |  Promotion Staff   |
|   1018073   |   Michelle Miller    |    Stock Clerk     |
|   1012038   |     Michael Peck     | Production Manager |
|   1013477   |   Christina Price    |     R&D Staff      |
|   1015159   |    Jessica Brown     |  Sales Associate   |
|   1012734   |      Jose Jones      |  Sales Associate   |
|   1018169   |   Gabrielle Cooper   |     R&D Staff      |
|   1016500   |   Kelsey Lawrence    |  Promotion Staff   |
|   1017662   |     Robert Morse     |  Production Staff  |
|   1014145   |  Nicholas Henderson  |  Sales Associate   |
|   1016536   |    Danielle Hill     |  Sales Associate   |
|   1012369   |    Michael Powell    |  Production Staff  |
|   1017873   |     Jimmy Moore      |  Production Staff  |
|   1019943   |  Derrick Cunningham  |  Promotion Staff   |
|   1019935   |    Kenneth Chavez    |  Promotion Staff   |
|   1018223   |     Daniel Berg      |  Production Staff  |
|   1016614   |     Lisa Barron      |  Production Staff  |
|   1019790   |      Tina Weber      |    Stock Clerk     |
|   1019653   |     Annette Cook     |  Promotion Staff   |
|   1015731   |    Melissa Arroyo    |  Production Staff  |
+-------------+----------------------+--------------------+

In [ ]:
# Path to your inventory CSV file (replace with the actual path)
file_path = '/content/Inventory-csv.csv'  # Adjust the path as needed

# Read the CSV file with semicolon delimiter into a pandas DataFrame
inventory_data = pd.read_csv(file_path, delimiter=';')

# Get the first 50 rows of the inventory data
inventory_data_first_50 = inventory_data.head(50)

# Pretty print the first 50 rows as a table
print(tabulate(inventory_data_first_50, headers='keys', tablefmt='pretty', showindex=False))

+-------+-----------+------------+
| InvId | PQuantity |  PExpDate  |
+-------+-----------+------------+
| 2094  |    98     | 29/10/2025 |
| 7976  |     9     | 15/06/2025 |
| 6267  |    76     | 28/03/2026 |
| 3527  |    52     | 14/11/2025 |
| 5782  |    81     | 10/10/2026 |
| 3122  |    13     | 14/05/2026 |
| 7845  |    15     | 17/08/2025 |
| 5797  |     5     | 07/10/2025 |
| 2106  |    35     | 19/10/2025 |
| 7329  |    39     | 02/05/2026 |
| 1807  |    20     | 17/05/2025 |
| 8061  |    62     | 24/06/2025 |
| 3835  |    79     | 10/07/2025 |
| 1967  |    84     | 09/03/2026 |
| 9164  |    69     | 28/08/2025 |
| 3971  |    17     | 20/11/2026 |
| 9388  |    86     | 29/12/2024 |
| 4339  |    51     | 14/10/2025 |
| 3903  |    20     | 18/10/2026 |
| 3389  |    11     | 28/05/2025 |
| 9571  |    92     | 19/01/2025 |
| 1968  |    87     | 27/08/2025 |
| 7735  |    50     | 16/10/2026 |
| 6552  |    99     | 30/07/2025 |
| 2532  |     8     | 27/05/2025 |
| 8025  |    64     | 06/05/2026 |
| 9259  |    51     | 19/04/2026 |
| 7083  |    56     | 03/11/2026 |
| 3125  |    30     | 22/08/2025 |
| 4374  |    22     | 04/04/2026 |
| 5593  |    51     | 06/02/2025 |
| 2471  |    88     | 14/06/2025 |
| 5642  |    71     | 13/08/2026 |
| 2432  |    64     | 02/07/2025 |
| 7702  |    13     | 05/10/2026 |
| 6262  |    100    | 10/06/2026 |
| 3085  |    74     | 16/07/2025 |
| 2908  |    92     | 17/07/2026 |
| 6918  |    11     | 08/07/2026 |
| 7882  |    17     | 03/11/2025 |
| 5756  |    48     | 19/06/2025 |
| 2678  |    44     | 11/08/2026 |
| 5394  |    29     | 03/04/2026 |
| 8976  |     7     | 27/09/2025 |
| 3172  |    62     | 16/06/2025 |
| 3643  |    86     | 04/10/2025 |
| 8787  |    99     | 12/11/2025 |
| 9905  |    90     | 04/08/2025 |
| 6625  |    86     | 11/04/2026 |
| 8676  |    16     | 20/02/2026 |
+-------+-----------+------------+